
<footer class="container-fluid bg-light text-center">

    <div class="row">
        <section class="col-12 col-md-6 col-lg-4 border border-white">
            <p>Colone 1</p>
        </section>
        <section class="col-12 col-md-6 col-lg-4 border border-white">
            <p>Colonne 2</p>
        </section>
        <section class="col-12 col-md-6 col-lg-4 border border-white">
            <p>Colonne 3</p>
        </section>
    </div>

</footer>

