{% extends 'base.html.twig' %}

{% block title %}Liste des produits de la catégorie{% endblock %}

{% block body %}
{#    {{ dump() }}#}

    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Liste de mes produits commandés</h1>
            </div>

            <div class="col-4 mb-3">
                <article class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title"></h3>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-outline-primary">Voir les détails</a>
                    </div>
                </article>
            </div>
        </section>
    </main>
{% endblock %}
