{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <main class="container text-sm-center">
        <section class="row">
            <div class="col-12">
                <h1>Erreur 403</h1>
                <p>Vous n'avez pas accès à cette page</p>
            </div>
        </section>
    </main>
{% endblock %}

